@import "./base.css";

body,
html,
#app {
  height: 100%;
  width: 100%;
}

.design-box {
  outline: 1px dashed rgb(187, 187, 187);
  min-height: 1.5em;
}
div.design-click-box {
  outline: 3px solid rgb(139, 58, 58);
  min-height: 1.5em;
}
/* --el-color-primary: #409eff; */
.drag-design-inner {
  background-color: var(--el-color-primary);
  color: #fff;
}
.drag-design-indicator {
  position: absolute;
  left: 0;
  /* right: 0; */
  width: 10px;
  height: 4px;
  background-color: var(--el-color-primary);
  z-index: 2;
  /* display: none; */
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
